.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: color-mix(in oklab, var(--p-surface-400) 60%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.loader-spinner {
  border: 10px solid transparent;
  border-top-color: var(--p-primary-color);
  border-bottom-color: var(--p-primary-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move1 {
  0%,
  100% {
    height: 7.5rem;
  }
  50% {
    height: 15rem;
  }
}

@keyframes move2 {
  0%,
  100% {
    height: 10rem;
  }
  50% {
    height: 4.5rem;
  }
}

@keyframes move3 {
  0%,
  100% {
    height: 6.5rem;
  }
  50% {
    height: 12.5rem;
  }
}

.animate-move-1 {
  height: 15rem;
  animation-name: move1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.animate-move-2 {
  height: 0;
  animation-name: move2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.animate-move-3 {
  height: 13rem;
  animation-name: move3;
  animation-duration: 3.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
