@if(_loaderService$.getVisible){
  <div class="loader-overlay fixed">
    <div class="loader-spinner"></div>
  </div>
}

<div class="fixed inset-0 flex items-center justify-center bg-(--p-primary-200) dark:bg-(--p-surface-400) z-9999">
  <div class="h-66 bg-(--p-surface-200) dark:bg-(--p-surface-500)/50 p-3 rounded-xl">
    <div class="grid grid-cols-3 gap-6">

      <div class="w-24 rounded-xl bg-(--p-primary-400) overflow-hidden animate-move-1"></div>
  
      <div class="w-24 rounded-xl bg-(--p-primary-400) overflow-hidden animate-move-2"></div>
  
      <div class="w-24 rounded-xl bg-(--p-primary-400) overflow-hidden animate-move-3"></div>
    </div>
  </div>
</div>

