/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import './assets/layout.css';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.taskero-dark, .taskero-dark *));

@theme {
  /* Tailwind customizations */
}
